<div class="container cadrage ">

  <form class="mt-4 w-50" method="post" action="" enctype="multipart/form-data">
    <label  class="textelabel" for="pseudo"> <b class="mr-2">Description</b> </label><br>
    <input placeholder="Nom" class="input" type="text" id="pseudo" name="pseudo" required>
    <div class="form-group">
      <label for="exampleTextarea"><b>Descriptif</b></label><textarea class="form-control " id="exampleTextarea" rows="3"></textarea><br>
    </div>

    <label  class="textelabelCompetence" for="pseudo"> <b class="mr-2">Competence</b> </label><br>
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <!--chips1-->
        <div class="chip ">
          Créer une base de donnée
          <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
        <!--chips2-->
        <div class="chip t-4">
          Dévelloper des composants d'accés aux données
          <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
        <!--chips-->
      </div>
    </div>
    <button  type="button" class="btn btn-outline-primary mt-4 mb-4 ">Primary</button>
  </form>

</div>

