<app-admin></app-admin>
<div class="container cadrage">
<form>

  <div class="form-group">
    <label for="exampleSelect1">Example select</label>
    <select class="form-control w-25" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group row w-25">
    <label for="colFormLabel" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-10 w-25">
      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
    </div>
  </div>
  <div class="form-group row w-25">
    <label for="colFormLabel2" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="colFormLabel2" placeholder="col-form-label">
    </div>
  </div>
  <div class="form-group row w-25">
    <label for="colFormLabel3" class="col-sm-2 col-form-label">Lieu de la promotion</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="colFormLabel3" placeholder="col-form-label">
    </div>
  </div>
  <div class="form-group row w-25">
    <label for="colFormLabel4" class="col-sm-2 col-form-label">Référence agate</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="colFormLabel4" placeholder="col-form-label">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleSelect2"> Choix de la fabrique</label>
    <select class="form-control w-25" id="exampleSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>

  </div>

  <div class="row">
    <div class="col-md-6">


    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label for="example-date-input1" class="col-2 col-form-label ">Date de début</label>
        <div class="col-10 ">
          <input class="form-control float-left" type="date" value="2011-08-19" id="example-date-input1">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Date de fin</label>
        <div class="col-10">
          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
      </div>
    </div>
  </div>
</form>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Référentiel(s)
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show mb-5 " aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body ">

        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>
        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>
        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>
        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>
        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>
        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>
        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>
        <button style="width: 10%; height: 60px" type="button" class="btn btn-outline-info mr-2 mb-2 ">Info</button>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
  <button type="button" class="btn btn-secondary mt-4 mb-4">RETOUR</button>
  </div>
  <div class="col-6">
    <button style="right: 50%" type="button" class="btn btn-primary mt-4 mb-4 ">CRÉER LA PROMOTION ET AJOUTER DES APPRENANTS</button>
    </div>
</div>

  <div  class="boutonAjout">
    <p>
      <a  class="fas fa-plus-square icone" data-toggle="tooltip" title="Ajouter Groupe Competence" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"></a>
    </p>
    <div class="col">
      <div class="collapse multi-collapse w-100 p-5 " id="multiCollapseExample1">
<app-detailpromos></app-detailpromos>
      </div>
    </div>

  </div>
</div>
