.cadrage{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px  1px 2px #E4E4E4;

}
.titre{
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
}
.input{
  background-color: #F1F3F4;
  margin-left: 20px;
  border-radius: 8px;
  width: 350px;
}

.iconeajout{
  font-size: 20px;

}
