<app-admin></app-admin>
<div  class="container cadrage">
  <div class="boutonAjout mt-5 ">
    <p>
      <a  class="fas fa-plus-square icone" data-toggle="tooltip" title="Ajouter Groupe Competence" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"></a>
    </p>
    <div class="col">
      <div class="collapse multi-collapse w-100 p-5  " id="multiCollapseExample1">
        <app-addgroupecompetence></app-addgroupecompetence>
      </div>
    </div>

  </div>
  <h3 class="text-center mt-3"><b>Listes Groupe Competence</b></h3>

<app-listegroupecompetence></app-listegroupecompetence>
</div>




