<form class="justify-content-sm-center mt-3 " method="post" action="" enctype="multipart/form-data">

  <label for="mdp">Nom</label><br>
  <input type="password" id="mdp" name="mdp"><br>

  <label for="prenom">Prenom</label><br>
  <input type="text" id="prenom" name="prenom" placeholder="Votre prenom"><br>

  <label for="email">Email</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="Pays" >Pays</label><br>
  <select  id="Pays" name="pays">
    <optgroup label="Europe" class="btn btn-outline-primary mt-3">
      <option value="fo">Formateur</option>
      <option value="ad">Admin</option>
      <option value="cm" >Cm</option>
      <option value="ap" selected>Apprenant</option>
    </optgroup>
  </select><br>

  <label for="avatar">Avatar</label><br>
  <input type="file" id="avatar" name="avatar" multiple><br>


  <button type="button" class="btn btn-outline-primary mt-3">Valider</button>
</form>
