
<h4 style="font-weight: bolder" class="text-center mt-3">Liste profils de sortie</h4>

<table class="table table-hover ml-3">
  <thead>
  <tr style="font-weight: bolder">
    <th scope="col"><b>Libellé</b></th>
    <th scope="col"><b>Action</b></th>
    <th scope="col">.</th>
    <th scope="col"><a title="Titre du lien" href="admin/profil/addprofil">
      <i style="color: #0903f5" class="fas fa-user-plus"></i></a></th>
  </tr>

  </thead>
  <tbody>
  <tr>
    <th scope="row">REF DIGITAL</th>
    <td>Mark</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr>
  <tr>
    <th scope="row">DEV FULLSTACK</th>
    <td>Mark</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr>
  <tr>
    <th scope="row">DEV FRONT</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr>
  <tr>
    <th scope="row">DEV BACK</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr>
  <tr>
    <th scope="row">DEV WEB</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr>
  <tr>
    <th scope="row">DATASCIENTISTE</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr><tr>
    <th scope="row">DESIGNER</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr>
  <tr>
    <th scope="row">REF DIGITAL</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr><tr>
    <th scope="row">COMMUNITY MANAGER</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr><tr>
    <th scope="row">IOT</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr><tr>
    <th scope="row">DEV WEB</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr><tr>
    <th scope="row">DEV FRONT</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr><tr>
    <th scope="row">IOT</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr><tr>
    <th scope="row">DEV WEB</th>
    <td>Otto</td>
    <td><i style="color:#0cbd0c" class="fas fa-user-edit"></i></td>
    <td><i style="color: red" class="fas fa-trash-alt "></i></td>
  </tr>
  </tbody>
</table>
