<select style="border: solid 1px cornflowerblue" class="selectpicker mt-4" data-live-search="true">
  <option data-tokens="ketchup mustard">Realiser une interface avec Cms</option>
  <option data-tokens="mustard"></option>
  <option data-tokens="frosting">Realiser une interface responsive</option>
</select>
<div  class="form-group">
  <select style="border: solid 1px cornflowerblue" multiple="" class="form-control" id="exampleSelect2">
    <option>Maqueter une application</option>
    <option>Developper une interface dynamique</option>
    <option>Realiser une interface avec Cms</option>
    <option>Realiser une interface responsive</option>
    <option>Realiser une interface responsive</option>
    <option>Realiser une interface responsive</option>
  </select>
</div>
