<div class="formulaire col-12">

  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

    <small for="prenom">Prénom</small><small id="error_1" class="input_alert float_r"></small>
    <div class="div_input_1">
      <input required class="form-control" id="prenom"  formControlName="prenom" type="text" />
    </div>

    <small for="nom">Nom</small><small id="error_2" class="input_alert float_r"> </small>
    <div class="div_input_1 ">
      <input  required class="form-control" id="nom" type="text" formControlName="nom"  />
    </div>

    <small for="email">Email</small><small id="error_6" class="input_alert float_r"> </small>
    <div class="div_input_1 ">
      <input  required class="form-control"   type="email" formControlName="email"/>
    </div>


    <small for="password">Password</small><small id="password" class="input_alert float_r"> </small>
    <div class="div_input_1 ">
      <input  required class="form-control" type="password"  formControlName="password" />
    </div>


    <div class="form-group">
      <small for="profil">Profil</small><small id="error_4" class="input"> </small>
      <select class="form-control" id="profil"   formControlName="profil">
        <option value="Admin">Admin</option>
        <option value="Apprenant">Apprenant</option>
        <option value="Cm">Community manager</option>
        <option value="Formateur">Formateur</option>
      </select>
    </div>

    <div class="div_input_1 ">
      <label for="imgUser">choisir une image<input type="file"  formControlName="avatar"
                                                   id="imgUser" (change)="onFileSelect($event)" accept="image/*"/>
      </label>
    </div>

    <button type="submit" class="btn btn-outline-secondary">Secondary</button>
  </form>
</div>
