<div class="row">
  <div class="col-md-3 mb-4">
    <div class="mt-3" style="border: solid 1px #00f7ff; border-radius: 5px" id="accordion">

      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button style="text-decoration: none" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Libellé
            </button>
            <a href="#" data-toggle="tooltip" title="Supprimer"> <i style="color: #ea0c0c" class="fas fa-trash-alt float-right mt-2  "></i></a>
            <a href="#" data-toggle="tooltip" title="Editer">  <i style="color: #019301" class="fas fa-user-edit float-right mt-2 mr-2"></i></a>

          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
Description
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Competence
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Anitic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Tags
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
             probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>

  </div>
  </div>
  <!-----------------------------------------------collapse2 -->

  <div class="col-md-3">
  <div class="mt-3 mb-4" style="border: solid 1px #00f7ff; border-radius: 5px" id="accordion2">

    <div class="card">
      <div class="card-header" id="headingOne2">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
Libellé
          </button>
          <a href="#" data-toggle="tooltip" title="Supprimer"> <i style="color: #ea0c0c" class="fas fa-trash-alt float-right mt-2  "></i></a>
          <a href="#" data-toggle="tooltip" title="Editer">  <i style="color: #019301" class="fas fa-user-edit float-right mt-2 mr-2"></i></a>

        </h5>
      </div>

      <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
Lorem Ipsum        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
Competence          </button>
        </h5>
      </div>
      <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree">
Tags          </button>
        </h5>
      </div>
      <div id="collapseThree2" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
lorem ipsum        </div>
      </div>
    </div>
  </div>
  </div>
                                        <!-----------------------------------------------collapse3 -->
  <div class="col-md-3">
  <div class="mt-3 mb-4" style="border: solid 1px #00f7ff; border-radius: 5px" id="accordion3">

    <div class="card">
      <div class="card-header" id="headingOne3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
Libellé
          </button>
          <a href="#" data-toggle="tooltip" title="Supprimer"> <i style="color: #ea0c0c" class="fas fa-trash-alt float-right mt-2  "></i></a>
          <a href="#" data-toggle="tooltip" title="Editer">  <i style="color: #019301" class="fas fa-user-edit float-right mt-2 mr-2"></i></a>

        </h5>
      </div>

      <div id="collapseOne3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo3">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo">
Competence
          </button>

        </h5>
      </div>
      <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree3">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree">
Tags          </button>
        </h5>
      </div>
      <div id="collapseThree3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum        </div>
      </div>
    </div>
  </div>
  </div>

  <!------------------------------------------------------------------------collapse4 -->


  <div class="col-md-3">

  <div class="mt-3 mb-4" style="border: solid 1px #00f7ff; border-radius: 5px"  id="accordion4">

    <div class="card">
      <div class="card-header" id="headingOne4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne">
Libellé
          </button>
          <a href="#" data-toggle="tooltip" title="Supprimer"> <i style="color: #ea0c0c" class="fas fa-trash-alt float-right mt-2  "></i></a>
          <a href="#" data-toggle="tooltip" title="Editer">  <i style="color: #019301" class="fas fa-user-edit float-right mt-2 mr-2"></i></a>
        </h5>
      </div>

      <div id="collapseOne4" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo4">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo">
Competence          </button>
        </h5>
      </div>
      <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
LOrem ipsum        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree4">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree">
Tags          </button>
        </h5>
      </div>
      <div id="collapseThree4" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
Lorem Ipsum        </div>
      </div>
    </div>
  </div>
</div>
</div>
