<table class="table table-hover ml-3">
  <thead>
  <tr>
    <th scope="col"><b>Libelle</b></th>
  </tr>

  </thead>
  <tbody>
  <tr>
    <th scope="row">Admin</th>
    <td><a href="#" data-toggle="tooltip" title="Editer"><i style="color:#0cbd0c" class="fas fa-user-edit"></i></a></td>
    <td><a href="#" data-toggle="tooltip" title="Supprimer"><i style="color: red" class="fas fa-trash-alt "></i></a></td>
  </tr><tr>
    <th scope="row">Formateur</th>
    <td><a href="#" data-toggle="tooltip" title="Editer"><i style="color:#0cbd0c" class="fas fa-user-edit"></i></a></td>
    <td><a href="#" data-toggle="tooltip" title="Supprimer"><i style="color: red" class="fas fa-trash-alt "></i></a></td>
  </tr>
  <tr>
    <th scope="row">Apprenant</th>
    <td><a href="#" data-toggle="tooltip" title="Editer"><i style="color:#0cbd0c" class="fas fa-user-edit"></i></a></td>
    <td><a href="#" data-toggle="tooltip" title="Supprimer"><i style="color: red" class="fas fa-trash-alt "></i></a></td>
  </tr>
  <tr>
    <th scope="row">Cm</th>
    <td><a href="#" data-toggle="tooltip" title="Editer"><i style="color:#0cbd0c" class="fas fa-user-edit"></i></a></td>
    <td><a href="#" data-toggle="tooltip" title="Supprimer"><i style="color: red" class="fas fa-trash-alt "></i></a></td>
  </tr>

  </tbody>
</table>
